.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-container {
  text-align: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 20px;
}

.loading-medium .spinner {
  width: 50px;
  height: 50px;
  border-width: 4px;
}

.loading-small .spinner {
  width: 30px;
  height: 30px;
  border-width: 3px;
}

.loading-large .spinner {
  width: 70px;
  height: 70px;
  border-width: 5px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-message {
  color: white;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}
